<div class="block block-callout">
  {%- for item in block.items %}
  <div class="callout-item">
    <span class="callout-label">{{ item.label }}</span>
    <span class="callout-text">{{ item.text }}</span>
  </div>
  {%- endfor %}
</div>
